.listArea{
    margin:0 auto ;
}
input{
    margin-top: 10px;
    height: 25px;
    line-height: 35px;
    width: 100%;
    text-indent: 10px;
}
.list{

}
.list li{
    width: 99%;
    padding: 5px;
    background-color: aliceblue;
    border-bottom: solid 1px #61dafb ;
}

.list li span{
    font-size: 14px;
    display: block;
}
.list li span.name{
    float: left;
}
.list li span.phone{
    float: right;
}
.clearfix{
    clear: both;
}